<!DOCTYPE HTML>
<meta http-equiv="content-language" content="en" />

<html>

    {% include head.html %}

	  <body class="is-loading">

        <!-- Wrapper -->
        <div id="wrapper">

            {% include header.html %}
            {% include menu.html %}

            {% if site.projects != null %}

				    <!-- Posts -->
		    <section class="posts">
          {% for project in site.projects reversed %}
            {% if project.tags contains 'game' %}
              <article>
                <a href="{{ project.url  | relative_url }}" class="image fit"><img src="{{ project.image }}" alt="" /></a>
                <header>
                  <h2><a href="{{ project.url  | relative_url }}">{{ project.title }} ({{ project.date | date: "%Y" }})</a></h2>
                </header>
								<p>{{ project.excerpt }}</p>
								<ul class="actions">
									<li><a href="{{ project.url  | relative_url }}" class="button">see more</a></li>
								</ul>
					    </article>
            {% endif %}
          {% endfor %}
	      </section>


        <!-- Footer -->
        <footer>
		        <!--<div class="pagination"-->
				        <!--<a href="#" class="previous">Prev</a>-->
				        <!--a href="#" class="page active">1</a>
				        <a href="#" class="page">2</a>
				        <a href="#" class="page">3</a>
				        <span class="extra">&hellip;</span>
				        <a href="#" class="page">8</a>
				        <a href="#" class="page">9</a>
				        <a href="#" class="page">10</a>
				        <a href="#" class="next">Next</a>
		        </div-->

            <!-- This loops through the paginated posts -->
            <!--{% for post in paginator.posts %}
                 <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                 <p class="author">
                 <span class="date">{{ post.date }}</span>
                 </p>
                 <div class="content">
                 {{ post.content }}
                 </div>
                 {% endfor %}-->

            <!-- Pagination links -->
            <!-- <div class="pagination">
                 {% if paginator.previous_page %}
                 <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
                 {% else %}
                 <span class="previous">Previous</span>
                 {% endif %}
                 <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                 {% if paginator.next_page %}
                 <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                 {% else %}
                 <span class="next ">Next</span>
                 {% endif %}
                 </div>
               -->
        </footer>

{% endif %}

        {% include footer.html %}

    </body>

</html>
