<!DOCTYPE HTML>
<meta http-equiv="content-language" content="en" />

<html>

    {% include head.html %}

	  <body class="is-loading">

        <!-- Wrapper -->
        <div id="wrapper">

            {% include header.html %}
            {% include menu.html %}
            <header class="major">
              <h3><a class="button" href="assets/documents/YUI_RESUME.pdf">PDF DOWNLOAD</a></h3>
            </header>
            <article>
              <image class="image fit" src="assets/documents/YUI_RESUME.jpg">
            </article>




        {% include footer.html %}

    </body>

</html>
